@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");
@import "tailwindcss";

.raleway {
  font-family: "Raleway", sans-serif;
}
.rancho {
  font-family: "Rancho", cursive;
}
