@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");
@import "tailwindcss";

body {
  font-family: "Rancho", cursive;
}
.raleway {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-image: url("./assets/images/nav.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: url("./assets/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
